mat-toolbar {
    display: flex;
    flex-direction: column;  /* Stack the children vertically */
    height: auto;  /* Adjust height as needed */
    padding: 1rem;  /* Optional padding for spacing */
}

.header {
    background-color: transparent;
    display: flex;
    flex-direction: column;  /* Stack items vertically inside the header */
    align-items: center; /* Center everything horizontally */
}

.title-container {
    display: flex;  /* Horizontal layout for image and title */
    align-items: center;  /* Center image and text vertically */
    justify-content: center;  /* Center them horizontally */
    margin-bottom: 1rem;  /* Optional space between title and links */
}

.title {
    color: #428bca;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 1em;
    display: flex;
    flex-direction: row;  /* Stack the links vertically */
    align-items: center;  /* Center the links horizontally */
}

#nav-image {
    height: auto;
    width: 10%;  /* Adjust size of logo */
    margin-right: 0.5em;  /* Space between logo and title */
}

#link {
    display: flex;
    flex-direction: row;  /* Stack the links vertically */
    align-items: center;  /* Center the links horizontally */
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 0.5em 0;  /* Vertical spacing between links */
    color: #428bca;
}

.mat-mdc-button:not(:disabled) {
    color: #428bca;
    font-weight: bold;
    font-size: large;
}
