mat-toolbar {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-background{
    background-color: #a0d2eb;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#nav-image {
    height: auto;
    width: 10%;
    margin-right: 0.5em;
}

#link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 0.5em 0;
}

.mat-mdc-button:not(:disabled) {
    color: #428bca;
    font-weight: bold;
    font-size: large;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.mat-mdc-button:hover {
    color: black;
    background-color: #f0f0f0;
}

.active-link {
    color: black !important;
    background-color: #f0f0f0;
  }

  @media (max-width: 48em) {
    .title {
        font-size: x-large;
    }

    #link {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
  