mat-toolbar {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;
}

.header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #428bca;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#nav-image {
    height: auto;
    width: 10%;
    margin-right: 0.5em;
}

#link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 0.5em 0;
    color: #428bca;
}

.mat-mdc-button:not(:disabled) {
    color: #428bca;
    font-weight: bold;
    font-size: large;
}