<!-- <mat-toolbar color="primary" class="header">
    <a href="startpagina" class="title">
      <img src="assets/jonas-blue.png" alt="Jonas logo" id="nav-image">
      <h1>Vishandel-traiteur Jonas</h1>
    </a>
    <span class="spacer"></span>
  
    <div id="link">
      <a mat-button routerLink="/startpagina">Startpagina</a>
      <a mat-button routerLink="/assortiment">Assortiment</a>
      <a mat-button routerLink="/horeca">Horeca</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar> -->

  <mat-toolbar class="header">
    <div class="title-container">
      <a href="startpagina" class="title">
        <img src="assets/jonas-blue.png" alt="Jonas logo" id="nav-image">
        <h1>Vishandel-traiteur Jonas</h1>
      </a>
    </div>
  
    <div id="link">
      <a mat-button routerLink="/startpagina">Startpagina</a>
      <a mat-button routerLink="/assortiment">Assortiment</a>
      <a mat-button routerLink="/horeca">Horeca</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar>
  