<mat-toolbar class="header">
  <div class="title">
    <img src="assets/jonas.png" alt="Jonas logo" id="nav-image">
    <h1>Vishandel-Traiteur Jonas</h1>
  </div>

  <div id="link">
    <a mat-button routerLink="/startpagina" routerLinkActive="active-link">Startpagina</a>
    <a mat-button href="assets/Prijslijst.pdf" target="_blank">Prijslijst</a>
    <a mat-button routerLink="/assortiment" routerLinkActive="active-link">Assortiment</a>
    <a mat-button routerLink="/horeca" routerLinkActive="active-link">Horeca</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </div>
</mat-toolbar>

