<mat-toolbar class="header">
  <div class="title">
    <img loading="lazy" src="assets/jonas.png" alt="Jonas logo" id="nav-image">
    <h1>Vishandel-Traiteur Jonas</h1>
  </div>

  <div id="link">
    <a mat-button routerLink="/startpagina" routerLinkActive="active-link">Startpagina</a>
    <div *ngFor="let pdf of pdfFiles">
      <a mat-button [href]="'assets/pdf/' + pdf" target="_blank">
        {{ formatFileName(pdf) }}
      </a>
    </div>
    <a mat-button routerLink="/assortiment" routerLinkActive="active-link">Assortiment</a>
    <a mat-button routerLink="/horeca" routerLinkActive="active-link">Horeca</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </div>
</mat-toolbar>

