<div class="image-container">
    <img *ngIf="images[currentImageIndex]" class="image" [src]="images[currentImageIndex].src"
        [alt]="images[currentImageIndex].alt" />
    <p>{{ images[currentImageIndex].alt }}</p>

    <div>
        <button mat-icon-button (click)="showPreviousImage()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="image-index">
            {{ currentImageIndex + 1 }} of {{ images.length }}
        </span>
        <button mat-icon-button (click)="showNextImage()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>

<mat-card appearance="outlined">
    <!-- <img mat-card-image src="assets/jonas-front.jpg" alt="Voorkant Vishandel-Traiteur Jonas"> -->
    <mat-card-header>
        <mat-card-title>Voor de Horeca</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <!-- Product List -->
        <div class="info">
            <section class="product-list">
                <h2>Producten</h2>
                <ul>
                    <li>Vispannetjes op maat - Klaar voor gebruik</li>
                    <li>Visschelpen</li>
                    <li>Kroketten (kaas, garnaal, zeevruchten, ...)</li>
                    <li>Sauzen</li>
                    <li>Soepen</li>
                    <li>Bisque</li>
                    <li>Fumets (Vis, garnaal, kreeft, ...)</li>
                </ul>
            </section>

            <mat-divider class="vertical-divider"></mat-divider>

            <!-- Delivery and Pickup Info -->
            <section>
                <h2>Levering en Afhaling</h2>
                <p>Levering is mogelijk vanaf <strong>50 stuks</strong> en dit binnen een straal van <strong>20
                        km</strong>.
                </p>
                <p>Levering is enkel op <strong>maandag</strong> en/of <strong>zaterdag</strong> (voorkeur zaterdag).
                </p>
                <p>Bij afhaling krijgt u een <strong>korting van 5%</strong> per 50 stuks.</p>

                <p><strong>!!Prijzen op aanvraag!!</strong></p>
            </section>
        </div>
    </mat-card-content>
</mat-card>