<mat-card appearance="outlined">
    <img loading="lazy" mat-card-image src="assets/collage-horeca.jpg" alt="Voorbeelden horeca">
    <mat-card-header>
        <mat-card-title>Voor de Horeca</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <!-- Product List -->
        <div class="info">
            <section class="product-list">
                <h2>Producten</h2>
                <ul>
                    <li>Vispannetjes op maat - Klaar voor gebruik</li>
                    <li>Visschelpen</li>
                    <li>Kroketten (kaas, garnaal, zeevruchten, ...)</li>
                    <li>Sauzen</li>
                    <li>Soepen</li>
                    <li>Bisque</li>
                    <li>Fumets (Vis, garnaal, kreeft, ...)</li>
                </ul>
            </section>

            <mat-divider class="vertical-divider"></mat-divider>

            <!-- Delivery and Pickup Info -->
            <section>
                <h2>Levering en Afhaling</h2>
                <p>Levering is mogelijk vanaf <strong>50 stuks</strong> en dit binnen een straal van <strong>20
                        km</strong>.
                </p>
                <p>Levering is enkel op <strong>maandag</strong> en/of <strong>zaterdag</strong> (voorkeur zaterdag).
                </p>
                <p>Bij afhaling krijgt u een <strong>korting van 5%</strong> per 50 stuks.</p>

                <p><strong>!!Prijzen op aanvraag!!</strong></p>
            </section>
        </div>
    </mat-card-content>
</mat-card>