<h1>Voor de Horeca</h1>
<mat-divider></mat-divider>

<!-- Product List -->
<section class="product-list">
    <h2>Producten</h2>
    <ul>
        <li>Vispannetjes op maat - Klaar voor gebruik</li>
        <li>Visschelpen</li>
        <li>Kroketten (kaas, garnaal, zeevruchten, ...)</li>
        <li>Sauzen</li>
        <li>Soepen</li>
        <li>Bisque</li>
        <li>Fumets (Vis, garnaal, kreeft, ...)</li>
    </ul>
</section>

<mat-divider></mat-divider>

<!-- Delivery and Pickup Info -->
<section class="delivery-info">
    <h2>Levering en Afhaling</h2>
    <p>Levering is mogelijk vanaf <strong>50 stuks</strong> en dit binnen een straal van <strong>20 km</strong>.</p>
    <p>Levering is enkel op <strong>maandag</strong> en/of <strong>zaterdag</strong> (voorkeur zaterdag).</p>
    <p>Bij afhaling krijgt u een <strong>korting van 5%</strong> per 50 stuks.</p>
</section>

<mat-divider></mat-divider>

<!-- Pricing Info -->
<section class="pricing-info">
    <h2>Prijzen</h2>
    <p><strong>!!Prijzen op aanvraag!!</strong></p>
</section>


<!-- Voor de horeca:

    Vispannetjes op maat - Klaar voor gebruik

    Visschelpen

    Kroketten (kaas, garnaal, zeevruchten, ...)

    Sauzen

    Soepen

    Bisque

    Fumets (Vis, garnaal, kreeft, ...)


Levering is mogelijk vanaf 50 stuks en dit binnen een straal van 20 km.

Levering is enkel op maandag en/of zaterdag (voorkeur zaterdag)

Bij afhaling krijgt u een korting van 5% per 50 stuks.


!!Prijzen op aanvraag!! -->