h1 {
    margin: 0;
    font-size: 2em !important;
    font-weight: normal;
}

mat-card {
    width: 20%;
    box-shadow: 1em 1em 0.8em #e1e1e1;
}

mat-card-title {
    font-size: 1.7em !important;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: space-around;
}

.image-container {
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #e1e1e1;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-nav.prev {
    left: 0.625em;
}

.carousel-nav.next {
    right: 0.625em;
}

.image-count {
    margin: 0;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.3);
}

.mat-mdc-button {
    color: #428bca;
    font-weight: bold;
}



/* Basic Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Default is hidden */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal.open {
    display: flex; /* Show when the 'open' class is added */
  }
  
  .enlarged-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
  
  
  