<!-- <h1>Contact</h1> -->
<div class="info-container">
    <div class="info">
        <img src="assets/foodstore.png" alt="foodstore-logo">
        <p>
            <strong>Foodstore Gwenny</strong><br>
            Stationsstraat 305, 8480 Eernegem<br>
            <i>Elke dag open van 6u tot 22u.</i>
        </p>
        <a href="https://www.facebook.com/profile.php?id=100089045388071" target="_blank"><img class="facebook-logo"
                src="assets/facebook.png" alt="Foodstore Facebook"></a>
    </div>
    <div class="info">
        <img src="assets/jonas.png" alt="jonas-logo">
        <p>
            <strong>Vishandel-Traiteur Jonas</strong><br>
            Dorpsstraat 33, 8680 Koekelare<br>
        </p>
        <a href="https://www.facebook.com/profile.php?id=100086398692438" target="_blank"><img class="facebook-logo"
                src="assets/facebook.png" alt="Jonas Facebook"></a>
    </div>
</div>


<p>Tel.: +32 (0)51 58 19 10<br>
    <a href="mailto:info@traiteurjonas.be">E-mail: info&#64;traiteurjonas.be</a><br>
    <strong>Telefoonnummer en e-mail is hetzelfde voor Vishandel-Traiteur Jonas als voor Foodstore Gwenny.
    </strong>
</p>

<mat-divider></mat-divider>

<h2><strong>Openingsuren:</strong></h2>
<ul>
    <li>Maandag: Gesloten</li>
    <li>Dinsdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Woensdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Donderdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Vrijdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Zaterdag: 8:00 - 12:30 en 13:00 - 16:00</li>
    <li>Zon- en feestdagen: Enkel afhalen bestelling</li>
</ul>

<mat-divider></mat-divider>

<p><strong>Betaalmogelijkheden:</strong> Cash of bancontact</p>
<p><strong>Bestellingen:</strong> Tijdens onze openingsuren via <strong>telefoon of persoonlijk in de winkel.</strong>
    <br> Voor verse visproducten volstaat het om ons drie werkdagen op voorhand uw bestelling door te geven.<br>
    Voor buffetten of speciale gelegenheden (communies, doopfeesten, trouwfeesten) vragen we jullie er tijdig bij te
    zijn
    <br> om volboekingen te vermijden en tot minimaal 5 werkdagen voor datum uw bestelling te plaatsen.
    <br> Op alle schotels wordt er een waarborg van €15,- of €20,- aangerekend. Gelieve de schotels zo vlug mogelijk terug te brengen! Dank u.
</p>