.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info img {
  max-width: 10em;
}

img {
  height: 5em;
  width: auto;
  padding-right: 1em;
}

.facebook-logo {
  height: 3em;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.4em 0em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e1e1e1;
}

#dots {
  list-style-type: disc; 
  margin-left: 1.2em;
  margin-top: 0 !important;
}

.items {
  padding: 0;
}

section p {
  margin: 0.5em 0;
}

@media (max-width: 48em) {
  #page-info {
    margin: 0 0.5em;
  }
  
  .info-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .info {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  img {
    height: 4em;
  }
}