<!-- <h1>Contact</h1> -->
<div class="info-container">
    <div class="info">
        <img loading="lazy" src="assets/jonas.png" alt="jonas-logo">
        <p>
            <strong>Vishandel-Traiteur Jonas</strong><br>
            Dorpsstraat 33, Koekelare 8680<br>
        </p>
        <a href="https://www.facebook.com/profile.php?id=100086398692438" target="_blank"><img class="facebook-logo"
                src="assets/facebook.png" alt="Jonas Facebook"></a>
    </div>
    <div class="info">
        <img loading="lazy" src="assets/foodstore.png" alt="foodstore-logo">
        <p>
            <strong>Foodstore Gwenny</strong><br>
            Stationsstraat 305, Eernegem 8480<br>
            <i>Elke dag open van 5u tot 22u.</i>
        </p>
        <a href="https://www.facebook.com/profile.php?id=100089045388071" target="_blank"><img class="facebook-logo"
                src="assets/facebook.png" alt="Foodstore Facebook"></a>
    </div>
</div>


<p>Tel.: +32 (0)51 58 19 10<br>
    <a href="mailto:info@vishandel-jonas.be">E-mail: info&#64;vishandel-jonas.be</a><br>
    <strong>Telefoonnummer en e-mail is hetzelfde voor Vishandel-Traiteur Jonas als voor Foodstore Gwenny.
    </strong>
</p>

<mat-divider></mat-divider>

<h2><strong>Openingsuren:</strong></h2>
<ul>
    <li>Maandag: Gesloten</li>
    <li>Dinsdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Woensdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Donderdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Vrijdag: 8:00 - 12:30 en 13:30 - 18:00</li>
    <li>Zaterdag: 8:00 - 12:30 en 13:30 - <strong>16:00</strong></li>
    <li>Zon- en feestdagen: Enkel afhalen bestelling</li>
</ul>

<mat-divider></mat-divider>

<section>
    <p><strong>Betaalmogelijkheden:</strong> Cash of bancontact</p>
    <p><strong>Bestellingen:</strong> Tijdens onze openingsuren via <strong>telefoon of persoonlijk in de
            winkel.</strong></p>
    <ul id="dots">
        <li class="items">
            <p>Voor verse visproducten volstaat het om je bestelling <strong>minstens 3 werkdagen op voorhand door te
                    geven.</strong></p>
        </li>
        <li class="items">
            <p>Voor buffetten of speciale gelegenheden (zoals communies, doopfeesten, trouwfeesten...) vragen we je om
                <strong>tijdig te
                    bestellen</strong> om volboekingen te voorkomen. 
                    <br><strong>Plaats je bestelling minimaal 5 werkdagen
                    van tevoren.</strong></p>

        </li>
    </ul>
    <p>Op alle schotels wordt een <strong>waarborg van €20</strong> aangerekend. Breng de schotels zo snel mogelijk
        terug. Dank je wel!</p>

</section>