/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    color: #011526
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-title {
    font-size: 2em !important;
}

.content {
    padding: 1em 16em 0em 16em;
}