h1 {
  margin: 0;
  font-size: 2em !important;
  font-weight: normal;
}

mat-divider {
  margin: 1.25em 0;
  /* Use em for margins */
}

mat-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border: 0.2em solid #e1e1e1 !important;
  border-radius: 0.5em !important;
  box-shadow: 1em 1em 0.8em #e1e1e1;
  /* padding: 2em; */
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 1.25em; */
}

img {
  /* box-shadow: 1em 1em 0.8em 0.3em #e1e1e1; */
  width: 45%;
  height: auto;
  /* margin-bottom: 1.25em; */
}

#foodstore-img {
  border-radius: 0 0.5em 0.5em 0;
}

#jonas-img {
  border-radius: 0.5em 0 0 0.5em;
}

.text-content {
  width: 45%;
  max-width: 50%;
  padding: 0 1.25em;
  text-align: left;
}

#homepage-title{
  color: #e5eaf5;
  z-index: 999;
  position: relative;
}

.homepageCta{
  display: flex;
  background-color: #D8E6F2;
  position: relative;
  z-index: 100;
}


.ctaBanner{
  width: 100%;
  height: 50vh;
  min-height: 200px;;
  max-height: 300px;
  transition: width .5s;
  background-position: bottom;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  color: white;
  padding: 0px;
  text-shadow: 0px 1px 1px #011526;
}

.ctaBanner h5 {
  font-size: larger;
  margin-bottom: 8px;
  margin-top: 12px;
}

.ctaBanner:hover{
  /* width: calc(100% + 300px); */
  width: 150%;
}

.ctaBanner a {
  text-decoration: none;
  color: inherit;
}

.icon-text-section-container{
  display: flex;
  justify-content: space-between;
}

.icon-text-container{
  display: flex;
  flex-direction: column;
  max-width: 30%;

}
.icon-container img{
  max-height: 300px;
  width: 70%;
}

.icon-text {
  text-align: justify;
}

.v-border{
  min-width: 15px;  
  margin-right: 15px;
  padding: 40px;
}

.container {
  max-width: 1200px;  /* Beperkt de breedte op grotere schermen */
  margin: 0 auto;  /* Centreert de container */
  padding: 16px;  /* Voegt ruimte rond de inhoud toe */
  width: 100%;  /* Zorgt ervoor dat de container altijd de volledige breedte gebruikt */
  box-sizing: border-box;  /* Voorkomt dat padding de breedte vergroot */
}

.intro-container{
  color: #464646; 
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}

.intro-container h1{
  width: 80%; 
  align-self: center; 
  text-align: left;
}

.row-to-col{
  display: flex; justify-content: space-between;
}

/* Responsieve aanpassingen voor kleinere schermen */
@media (max-width: 768px) {
  .container {
      padding: 12px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 8px;
  }
}

@media (max-width: 48em) {
  .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25em;
    justify-content: center;
  }

  .text-content {
    width: 100%;
    max-width: 100%;
    margin: 0 0 1.25em 0;
    text-align: center;
  }

  #foodstore-img {
    border-radius: 0.5em;
    width: 100%;
  }
  
  #jonas-img {
    border-radius: 0.5em;
    width: 100%;
  }

  .homepageCta{
    flex-direction: column;
  }
  .v-border{
    display: none;
  }

  .intro-container{
    flex-direction: column-reverse;
  }
  .intro-container h1{
    width: 100%; 
    align-self: center; 
    text-align: center;
  }
  .row-to-col{
    flex-direction: column;
  }
}