<app-vacation></app-vacation>

<mat-card>
    <div class="content-wrapper">
        <img loading="lazy" id="jonas-img" [src]="imageSrc" [alt]="imageAlt">
        <div class="text-content">
            <h1>Welkom!</h1>
            <p>Sinds jaren staat <strong>Vishandel - Traiteur Jonas</strong> garant als leverancier van uw verse vis
                voor zowel uw
                persoonlijke maaltijden als uw feestgelegenheden (communies, doopfeesten, enz.).</p>
            <p>Wij zorgen dagelijks voor een uitgebreid assortiment verse vis, schaal en schelpdieren, in huis
                bereide dagschotels,
                salades, visdelicatessen, droogvis en gerookte vis.</p>
            <p>Ook kun je bij ons terecht voor aperitiefhapjes, zeevruchtenschotels, koude schotels, peuzelschotels
                en warme
                bereidingen. </p>
            <p>Wij staan steeds klaar om u te begeleiden in uw keuze en garanderen een persoonlijke en professionele
                aanpak!</p>
        </div>
    </div>
</mat-card>

<!-- <mat-divider></mat-divider> -->
<mat-card>
    <div class="content-wrapper">
        <div class="text-content">
            <h1>Foodstore Gwenny</h1>
            <p>U kunt ook terecht in onze foodstore. Elke dag open van 5u tot 22u.</p>
            <p>Op regelmatige basis zorgen we voor variatie in het assortiment.</p>
            <p>In ons assortiment heb je dagschotels met vis of vlees, gekoelde dranken, soep en snoep.</p>
            <p>De schotels worden altijd geleverd door Vishandel-Traiteur Jonas uit Koekelare.</p>
        </div>

        <img loading="lazy" id="foodstore-img" src="assets/foodstore-machines.jpg" alt="Foodstore Advertisement">
    </div>
</mat-card>