<div class="blue-background" style="background-color: #a0d2eb">
    <div class="container">
        <div style="padding-top: 1em; padding-bottom: 3em;">
            <div id="homepage-title">

                <h2>Vishandel - Traiteur Jonas</h2>
                <p style="font-weight: bolder;">
                    Dagverse gerechten voor elke gelegenheid!
                </p>

            </div>
        </div>
    </div>

    <!-- <img src="assets/cartoon.png" alt="" 
        style="position: absolute; left:-70px; z-index: 1; top: 360px; width: 400px;">

    <img src="assets/leps.png" alt=""
        style="position: absolute; right: 0px; z-index: 1s; top: 150px; width: 380px; rotate: 0deg;"> -->
</div>
<div class=""
    style="z-index: 500; background-color: white; position: relative; text-align: center; display: flex; justify-content: center;">
    <div class="container intro-container">
        
        <div style="text-align: justify; border-right: 1px;">
            <p>
                Vishandel - Traiteur Jonas is al sinds 2004 dé referentie voor dagverse vis, zowel voor uw dagelijkse
                maaltijden als
                voor speciale gelegenheden zoals communies, doopfeesten en andere feestelijke bijeenkomsten.
            </p>
            <p>
                Dagelijks bieden wij een uitgebreid assortiment aan verse vis, schaal- en schelpdieren, huisbereide
                dagschotels,
                salades, visdelicatessen, droogvis en gerookte vis.
            </p>
            <p>
                Daarnaast kunt u bij ons terecht voor verfijnde aperitiefhapjes, zeevruchtenschotels, koude en warme
                bereidingen, en heerlijke peuzelschotels.
            </p>
            <p>
                Wij helpen u graag bij het maken van de juiste keuze en garanderen steeds een persoonlijke en
                professionele
                service!
            </p>
        </div>
        <div class="v-border"><div style="border-right: 1px solid black; height: 100%;"></div></div>
        <h1>
            Welkom
        </h1>

        <br />
    </div>
</div>


<div class="" style="
        z-index: 500; 
        background-color: white; 
        position: relative; 
        text-align: center; 
        display: flex; 
        justify-content: center; 
        padding-top: 1em;
        padding-bottom: 5em;">
    <div class="icon-text-section-container container">
        <div class="icon-text-container">
            <div class="icon-container">
                <img src="assets/frutti-di-mare.svg" />
            </div>
            <div class="icon-title">
                <h2>Assortiment</h2>
            </div>
            <div class="icon-text">
                Verse vis, schaal- en schelpdieren, dagschotels, salades, visdelicatessen, aperitiefhapjes,
                zeevruchtenschotels en zowel koude als warme bereidingen.
            </div>
        </div>
        <div class="icon-text-container">
            <div class="icon-container">
                <img src="assets/restaurant.svg" />
            </div>
            <div class="icon-title">
                <h2>Horeca</h2>
            </div>
            <div class="icon-text">
                Uitgebreid aanbod van op maat gemaakte vispannetjes, visschelpen, kroketten (kaas, garnaal,
                zeevruchten), sauzen, soepen, bisque en fumets (vis, garnaal, kreeft)
            </div>
        </div>
        <div class="icon-text-container">
            <div class="icon-container">
                <img src="assets/food-menu-card-price-list.svg" />
            </div>
            <div class="icon-title">
                <h2>Feestdagen</h2>
            </div>
            <div class="icon-text">
                Voor de feestdagen nemen wij bestellingen op aanvraag. Download <a
                    href="http://localhost:4200/assets/Feestdagen-2024-2025.pdf">hier</a> onze prijslijst voor meer
                informatie.
            </div>
        </div>
    </div>
</div>
<div class="homepageCta">
    <div class="ctaBanner" style="background-image: url({{imageSrc}});">

        <div class="conainer">
            <h5>Vishandel-Traiteur Jonas</h5>
            <a href="https://maps.app.goo.gl/DinXUY4L1Uw7X66t9" target="_blank">Dropsstraat 33,<br />8680
                Koekelare</a>
        </div>

    </div>
    <div class="ctaBanner"
        style="background-image: url(assets/foodstore-machines.jpg); justify-content: end; text-align: right;">
        <div class="conainer">
            <h5>Foodstore Gwenny</h5>
            <a href="https://maps.app.goo.gl/s1moqCv3HG4zkj6T6" target="_blank">
                Stationstraat 305,
                <br />
                8480 Eernegem
            </a>
        </div>
    </div>
</div>
<div class="container row-to-col">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fp%2FVishandel-traiteur-Jonas-100086398692438%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="400" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d626.5015661146931!2d2.975602!3d51.0898919!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dcb3c874a94915%3A0xc74ed81ebcca2ad3!2sVishandel%2FTraiteur%20Jonas!5e0!3m2!1snl!2sbe!4v1740082756025!5m2!1snl!2sbe" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- <div class="content" style="background-color: #D8E6F2;">
    <div>
        <div class="content-wrapper">
            <div class="text-content">
                <h1>Welkom!</h1>

            </div>
            <div class="text-content">
                <h1>Welkom!</h1>
                <p>
                    Vishandel - Traiteur Jonas is al jaren dé referentie voor dagverse vis, zowel voor uw dagelijkse
                    maaltijden als voor
                    speciale gelegenheden zoals communies, doopfeesten en andere feestelijke bijeenkomsten.
                </p>
                <p>

                    Dagelijks bieden wij een uitgebreid assortiment aan verse vis, schaal- en schelpdieren, huisbereide
                    dagschotels,
                    salades, visdelicatessen, droogvis en gerookte vis.
                </p>
                <p>
                    Daarnaast kunt u bij ons terecht voor verfijnde aperitiefhapjes, zeevruchtenschotels, koude en warme
                    bereidingen, en
                    heerlijke peuzelschotels.
                </p>
                <p>
                    Wij helpen u graag bij het maken van de juiste keuze en garanderen steeds een persoonlijke en
                    professionele service!

                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="">



    <mat-divider></mat-divider>
    <!-- <mat-card>
    <div class="content-wrapper">
        <div class="text-content">
            <h1>Foodstore Gwenny</h1>
            <p>U kunt ook terecht in onze foodstore. Elke dag open van 5u tot 22u.</p>
            <p>Op regelmatige basis zorgen we voor variatie in het assortiment.</p>
            <p>In ons assortiment heb je dagschotels met vis of vlees, gekoelde dranken, soep en snoep.</p>
            <p>De schotels worden altijd geleverd door Vishandel-Traiteur Jonas uit Koekelare.</p>
        </div>

        <img id="foodstore-img" src="assets/foodstore-machines.jpg" alt="Foodstore Advertisement">
    </div>
</mat-card> -->
</div>