<div class="content-wrapper">
    <img class="responsive-image" [src]="imageSrc" [alt]="imageAlt">
    <div class="text-content">
        <h2>Welkom bij Vishandel-Traiteur Jonas</h2>
        <p>Sinds jaren staat <strong>Vishandel - Traiteur Jonas</strong> garant als leverancier van uw verse vis
            voor zowel uw
            persoonlijke maaltijden als uw feestgelegenheden (communies, doopfeesten, enz.).</p>
        <p>Wij zorgen dagelijks voor een uitgebreid assortiment verse vis, schaal en schelpdieren, in huis
            bereide dagschotels,
            salades, visdelicatessen, droogvis en gerookte vis.</p>
        <p>Ook kun je bij ons terecht voor aperitiefhapjes, zeevruchtenschotels, koude schotels, peuzelschotels
            en warme
            bereidingen. </p>
        <p>Wij staan steeds klaar om u te begeleiden in uw keuze en garanderen een persoonlijke en professionele
            aanpak!</p>
    </div>
</div>
<mat-divider></mat-divider>
<div id="foodstore-info">
    <h2>Nieuw! Foodstore Gwenny</h2>
    <p>Vanaf nu kunt u ook terecht in onze foodstore. Elke dag open van 6u tot 22u.</p>
    <img src="assets/FOODSTORE-tips.jpg" alt="Foodstore Advertisement">
</div>